
  <div>
    <h1 class="text-6xl text-blue-600 dark:text-white text-center">Resistencias</h1>
    <div><p>-</p></div>
  <form [formGroup] = "formResistencias" (ngSubmit)="calcularResistencia()" class="">
    <div class="grid grid-cols-6 gap-6">
      <div>
        <label
          for="countries"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Elige Color 1</label
        >
        <select
          id="countries"
          formControlName="color1"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option selected>Elige Resistencia</option>
          <option value="0">Negro</option>
          <option value="1">Cafe</option>
          <option value="2">Rojo</option>
          <option value="3">Naranja</option>
          <option value="4">Amarillo</option>
          <option value="5">Verde</option>
          <option value="6">Azul</option>
          <option value="7">Violeta</option>
          <option value="8">Gris</option>
          <option value="9">Blanco</option>
        </select>
      </div>

      <div>
        <label
          for="countries"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Elige Color 2</label
        >
        <select
          id="resistencias"
          formControlName="color2"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option selected>Elige Resistencia</option>
          <option value="0">Negro</option>
          <option value="1">Cafe</option>
          <option value="2">Rojo</option>
          <option value="3">Naranja</option>
          <option value="4">Amarillo</option>
          <option value="5">Verde</option>
          <option value="6">Azul</option>
          <option value="7">Violeta</option>
          <option value="8">Gris</option>
          <option value="9">Blanco</option>
        </select>
      </div>

      <div>
        <label
          for="countries"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Elige Color 3</label
        >
        <select
          id="countries"
          formControlName="color3"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option selected>Elige Resistencia</option>
          <option value="1">Negro</option>
          <option value="10">Cafe</option>
          <option value="100">Rojo</option>
          <option value="1000">Naranja</option>
          <option value="10000">Amarillo</option>
          <option value="100000">Verde</option>
          <option value="1000000">Azul</option>
          <option value="10000000">Violeta</option>
          <option value="100000000">Gris</option>
          <option value="1000000000">Blanco</option>
        </select>
      </div>
      <div>
        <label
          for="countries"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Elige la Tolerancia</label
        >
        <select
          id="countries"
          formControlName="tolerancia"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option selected>Selecciona color</option>
          <option value="0.05">Dorado</option>
          <option value="0.10">Plata</option>
        </select>
      </div>
    </div>
    <div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </div>
  </form>
  
<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr >
              <th scope="col" class="px-6 py-3">
                  Color 1
              </th>
              <th scope="col" class="px-6 py-3">
                  Color 2
              </th>
              <th scope="col" class="px-6 py-3">
                  Color 3
              </th>
              <th scope="col" class="px-6 py-3">
                Tolerancia
            </th>
              <th scope="col" class="px-6 py-3">
                  Resistencia Total 
              </th>
              <th scope="col" class="px-6 py-3">
                Resistencia Maxima
            </th>
            <th scope="col" class="px-6 py-3">
              Resistencia Minima
          </th>
          </tr>
      </thead>
      <tbody>
          <tr  *ngFor="let res of resultados" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td class="px-6 py-4">
              <p class="bg-gray-800 text-white" *ngIf="res.color1==0">Negro</p>
              <p class="bg-red-900 text-white" *ngIf="res.color1==1">Cafe</p>
              <p class="bg-red-600 text-white"  *ngIf="res.color1==2">Rojo</p> 
              <p class="bg-orange-500 text-white"  *ngIf="res.color1==3">Naranja</p>
              <p class="bg-yellow-300 text-gray-900"  *ngIf="res.color1==4">Amarillo</p>
              <p class="bg-green-600 text-white"  *ngIf="res.color1==5">Verde</p>
              <p class="bg-blue-500 text-white" *ngIf="res.color1==6">Azul</p>
              <p class="bg-purple-600 text-white"  *ngIf="res.color1==7">Violeta</p>
              <p class="bg-gray-200 text-white"  *ngIf="res.color1==8">Gris</p>
              <p class="bg-white"  *ngIf="res.color1==9">Blanco</p>
            </td>
              <td class="px-6 py-4">
                <p class="bg-gray-800 text-white" *ngIf="res.color2==0">Negro</p>
                <p class="bg-red-900 text-white" *ngIf="res.color2==1">Cafe</p>
                <p class="bg-red-600 text-white"  *ngIf="res.color2==2">Rojo</p> 
                <p class="bg-orange-500 text-white"  *ngIf="res.color2==3">Naranja</p>
                <p class="bg-yellow-300 text-gray-900"  *ngIf="res.color2==4">Amarillo</p>
                <p class="bg-green-600 text-white"  *ngIf="res.color2==5">Verde</p>
                <p class="bg-blue-500 text-white" *ngIf="res.color2==6">Azul</p>
                <p class="bg-purple-600 text-white"  *ngIf="res.color2==7">Violeta</p>
                <p class="bg-gray-200 text-white"  *ngIf="res.color2==8">Gris</p>
                <p class="bg-white"  *ngIf="res.color2==9">Blanco</p>
              </td>
              <td class="px-6 py-4">
                <a  class="bg-gray-800 text-white" *ngIf="res.color3==0">Negro</a>
                <a  class="bg-red-900 text-white" *ngIf="res.color3==10">Cafe</a>
                <a class="bg-red-600 text-white" *ngIf="res.color3==100">Rojo</a>
                <a class="bg-orange-500 text-white" *ngIf="res.color3==1000">Naranja</a>
                <a  class="bg-yellow-300 text-gray-900" *ngIf="res.color3==10000">Amarillo</a>
                <a  class="bg-green-600 text-white" *ngIf="res.color3==100000">Verde</a>
                <a  class="bg-blue-500 text-white" *ngIf="res.color3==1000000">Azul</a>
                <a class="bg-purple-600 text-white" *ngIf="res.color3==10000000">Violeta</a>
                <a class="bg-gray-200 text-white" *ngIf="res.color3==100000000">Gris</a>
                <a *ngIf="res.color3==1000000000">Blanco</a>
              </td>
              <td class="px-6 py-4">
              <a *ngIf="res.tolerancia==0.05">Dorado</a>
              <a *ngIf="res.tolerancia==0.1">Plateado</a>
              
            </td>
              <td class="px-6 py-4">
                  {{res.resultado}} ohms
              </td>
              <td class="px-6 py-4">
                {{res.max}} ohms
            </td>
            <td class="px-6 py-4">
              {{res.min}} ohms
          </td>
          </tr>
      </tbody>
  </table>
</div>

</div>
